In [1]:
%matplotlib qt

In [2]:
import pandas as pd

import matplotlib.pyplot as plt
import numpy as np
from matplotlib import colormaps 
import os

In [3]:
df = pd.read_excel(os.path.join(os.getcwd(), "mobile_app_user_dataset.xlsx"))

In [4]:
df

,ID,StartDate,EndDate,Response Status,Participant Type,Q1_1_TEXT,Q1_2_TEXT,Q1_3_TEXT,Q1_4_TEXT,Q1_5_TEXT,...,Q30_2,Q30_3,Q30_4,Q30_5,Q30_6,Q30_7,Q30_8,Q30_9,Q30_10,Q31
0,Unique ID for each participant,StartDate,EndDate,"0=incomplete response, 1=complete response, 2=...","1=ours, 2=panel",Browser Meta Info-Browser,Browser Meta Info-Version,Browser Meta Info-Operating System,Browser Meta Info-Screen Resolution,Browser Meta Info-Flash Version,...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,NaN
1,1,2012-09-26 07:46:07,2012-09-26 07:46:21,2,1,Chrome,21.0.1180.89,WOW64,1280x800,11.3.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SUM(CY:DU)
2,2,2012-09-26 07:45:19,2012-09-26 07:56:41,1,1,Safari iPhone,6,CPU iPhone OS 6_0 like Mac OS X,320x480,-1,...,3,7,2,6,3,4,3,4,4,9
3,3,2012-09-26 07:45:35,2012-09-26 08:01:56,1,1,Safari,6,CPU OS 6_0 like Mac OS X,768x1024,-1,...,4,5,2,3,3,5,3,5,3,6
4,4,2012-09-26 16:58:29,2012-09-26 17:05:50,1,1,Firefox,15.0.1,Intel Mac OS X 10.6,1920x1200,11.4.402,...,3,6,3,5,5,5,2,5,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10204,10204,2012-11-16 23:50:23,2012-11-17 00:03:09,0,2,MSIE,8,Windows NT 5.1,1366x768,11.4.402.287,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
10205,10205,2012-11-13 07:11:27,2012-11-13 07:12:10,0,2,MSIE,8,Windows NT 5.1,1280x1024,10.2.159.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
10206,10206,2012-11-13 00:27:52,2012-11-13 00:29:14,0,2,MSIE,8,Windows NT 5.1,1024x768,11.1.102.63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
10207,10207,2012-11-23 08:00:32,2012-11-23 08:00:49,2,2,Chrome,23.0.1271.64,Windows NT 5.1,1024x768,11.5.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
10208,10208,2012-11-23 15:22:42,2012-11-23 15:28:57,1,2,MSIE,9,Windows NT 6.1,960x540,10.3.181.23,...,6,6,2,7,2,7,5,2,4,1

In [5]:
index_q26_map = {1:"Full-time", 
             2:"Part-time", 
             3:"Self-employed", 
             4:"Student", 
             5:"Homemaker", 
             6:"Unemployed", 
             7:"Unable to work", 
             8:"Retired",
             9:"Other"}

In [6]:
index_q27_map = {
    1:"Management",
    2:"Business and Financial Operations",
    3:"Computer and Mathematical",
    4:"Architecture and Engineering",
    5:"Life, Physical and Social Science",
    6:"Community and Social Services",
    7:"Legal",
    8:"Education,Training and Library",
    9:"Arts, Design, Entertainment, Sports, and Media",
    10:"Healthcare Practitioners and Technical",
    11:"Healthcare Support",
    12:"Protective Service",
    13:"Food Preparation and Serving Related",
    14:"Building and Grounds Cleaning and Maintenance",
    15:"Personal Care and Service",
    16:"Sales and Related",
    17:"Office and Administrative Support",
    18:"Farming, Fishing, and Forestry",
    19:"Construction and Extraction",
    20:"Installation, Maintenance, and Repair",
    21:"Production",
    22:"Transportation and Material Moving",
    23:"Military Specific",
    24:"Student",
    25:"Other"
}

In [7]:
index_q23_map = {
    1:"Primary school", 
    2:"Secondary / High school", 
    3:"Diploma", 
    4:"Vocational training", 
    5:"Undergraduate degree", 
    6:"Master’s degree", 
    7:"Doctoral degree", 
    8:"Other"
}

In [8]:

index_q19_map = {1 : 'American', 
             2 : 'Australian', 
             3 : 'Brazillian', 
             4 : 'British', 
             5 : 'Canadian', 
             6 : 'Chinese', 
             7 : 'French', 
             8 : 'German',
             9 : 'Indian', 
            10 : 'Italian', 
            11 : 'Japanese', 
            12 : 'Mexican', 
            13 : 'Russian', 
            14 : 'South Korean', 
            15 : 'Spanish', 
            16 : 'Other'}

In [9]:
index_q16_map = {
    1 : 'Male', 
    2 : 'Female'
}

In [10]:
def get_trend_w_categorical(x, categories, trend_name, index_map, mapping):
    '''
    takes in column to get trend (ie gender, Q16), and categorical columns (ie Q15_i). counts up the total categories
    per trend and gives them as pd.dataframe

    params:
        x: (pd.series) column you want to see a trend for
        categories: (pd.dataframe) columns to be checked against
        trend_name: (str) name of trend to be index name
        index_map: (dict) mapping of numerical values to str representation
        mapping: (dict) mapping for column name to categorical name

    returns:
        pd.dataframe with trend and categorical columns to see how trend could affect choice in categories

    example usage:

        df = pd.read_excel("mobile_app_data_usage.xlsx")

        type_apps = [f'Q15_{i}' for i in range(1, 24)]

        trend = 'Q16'

        index_map = {1 : 'Male', 
                    2 : 'Female'}
        trend_name = 'Gender'

        categories = {
            'Q15_1'  : 'Navigation',
            'Q15_2'  : 'Business',
            'Q15_3'  : 'Catalogues',
            'Q15_4'  : 'Travel',
            'Q15_5'  : 'Books',
            'Q15_6'  : 'Photo & Video',
            'Q15_7'  : 'Lifestyle',
            'Q15_8'  : 'Entertainment',
            'Q15_9'  : 'Finance',
            'Q15_10' : 'News',
            'Q15_11' : 'Health & Fitness',
            'Q15_12' : 'Games',
            'Q15_13' : 'Food & Drink',
            'Q15_14' : 'Education',
            'Q15_15' : 'Medical',
            'Q15_16' : 'Social Networking',
            'Q15_17' : 'Reference',
            'Q15_18' : 'Sports',
            'Q15_19' : 'Utilities',
            'Q15_20' : 'Weather',
            'Q15_21' : 'Productivity',
            'Q15_22' : 'Music',
            'Q15_23' : 'Other'
        }

        x = df[trend]

        cats = df[type_apps]

        result = get_trend_w_categorical(x,cats,trend_name,index_map, categories)

        print(result, type(result))

        what gets printed:

                            Navigation  Business  Travel  Books  Photo & Video  ...  Weather  Productivity  Music  Other  Count
                Female         693       226     490    762            941  ...     1008           380   1030    172   2721
                Male          1022       472     566    719            903  ...      922           574   1015    209   2645
                Total         1715       698    1056   1481           1844  ...     1930           954   2045    381   5366

            [3 rows x 23 columns] <class 'pandas.core.frame.DataFrame'>
    '''
    assert isinstance(trend_name, str), "trend_name must be a str"
    assert isinstance(index_map, dict), "index_map must be a dict"
    assert isinstance(mapping, dict), "mapping must be a dict"

    # Apply the mapping for the trend column (e.g., gender)
    x = x.map(index_map)

    # Rename the columns in categories based on the mapping
    categories_renamed = categories.rename(columns=mapping)

    # Convert categories to numeric values (this step depends on your data structure)
    categories_renamed = categories_renamed.apply(pd.to_numeric, errors='coerce').fillna(0).astype(int)

    # Remove rows in x where the value is NaN or missing
    mask = x.notna()
    x_filtered = x[mask]
    categories_filtered = categories_renamed[mask.values]

    # Group by the values in x (e.g., Male and Female) and sum the categories for each group
    grouped = categories_filtered.groupby(x_filtered).sum()

    # Add count of each index_map
    count_series = x_filtered.value_counts().rename("Count")

    # Merge count column into the grouped DataFrame
    grouped = grouped.merge(count_series, left_index=True, right_index=True)

    # Add a name to the index of the grouped DataFrame
    grouped.index.name = trend_name

    # Calculate the total row (sum of each column)
    total_row = grouped.sum().to_frame().T
    total_row.index = ["Total"]

    # Append the total row to the bottom of the DataFrame
    grouped = pd.concat([grouped, total_row])

    return grouped

In [ ]:
def plot_heatmap(result, trendname):
    '''
    takes the given dataframe and plots a 2D heatmap of the data inside, using the column and row indexes as the tick labels  

    params:
        result: the datafram for which we want the plot
        trendname: this string would be used as the plot title
    '''
    
    xticks = result.index.values.tolist()[:-1]
    yticks = result.columns.values.tolist()[:-1]

    data_tb = []
    for i in range(len(xticks)):
        dat = []
        for j in range(len(yticks)):
            dat.append(result.iloc[i , j])
        data_tb.append(dat)

    _x = np.arange(len(xticks))
    _y = np.arange(len(yticks))

    fig = plt.figure()
    ax = fig.add_subplot()

    im = ax.imshow( data_tb, cmap='viridis')
    ax.set_yticks(_x, xticks)
    ax.set_xticks(_y, yticks, rotation=45, ha='right')

    for i in range(len(xticks)):
        for j in range(len(yticks)):
            text = ax.text(j, i, data_tb[i][j],
                                ha="center", va="center", color="w")

    ax.set_title(trendname) 
    plt.colorbar(im,ax=ax)
    plt.show()

In [ ]:
def plot_double_heatmap(result1, result2, trendname):
    '''
    takes the given dataframes and plots two 2D heatmaps of the data side-by-side, using the column and row indexes as the tick labels  

    params:
        result1: the datafram for which we want the plot1
        result2: the datafram for which we want the plot2
        trendname: this string would be used as the plot title
    '''
    xticks = result1.index.values.tolist()[:-1]
    yticks = result1.columns.values.tolist()[:-1]

    data1_tb = []
    data2_tb = []
    for i in range(len(xticks)):
        dat = []
        for j in range(len(yticks)):
            dat.append(result1.iloc[i , j])
        data1_tb.append(dat)
        dat = []
        for j in range(len(yticks)):
            dat.append(result2.iloc[i , j])
        data2_tb.append(dat)

    _x = np.arange(len(xticks))
    _y = np.arange(len(yticks))

    fig, (ax1,ax2) = plt.subplots(2, 1)

    im1 = ax1.imshow( data1_tb, cmap='viridis')
    ax1.set_yticks(_x, xticks)
    ax1.set_xticks([])
    # ax1.set_xticks(_y, yticks, rotation=45, ha='right')

    im2 = ax2.imshow( data2_tb, cmap='viridis')
    ax2.set_yticks(_x, xticks)
    ax2.set_xticks(_y, yticks, rotation=45, ha='right')

    for i in range(len(xticks)):
        for j in range(len(yticks)):
            text = ax1.text(j, i, data1_tb[i][j],
                                ha="center", va="center", color="w")
            text = ax2.text(j, i, data2_tb[i][j],
                                ha="center", va="center", color="w")

    ax1.set_title("MALE") 
    ax2.set_title("FEMALE") 
    fig.suptitle(trendname)
    fig.subplots_adjust(bottom=0.15)
    plt.colorbar(im1, ax=ax1)
    plt.colorbar(im2, ax=ax2)
    plt.show()

In [13]:
type_apps = [f'Q15_{i}' for i in range(1, 24)]

trend = 'Q19'

trend_name = 'Nationality'

categories = {
            'Q15_1'  : 'Navigation',
            'Q15_2'  : 'Business',
            'Q15_3'  : 'Catalogues',
            'Q15_4'  : 'Travel',
            'Q15_5'  : 'Books',
            'Q15_6'  : 'Photo & Video',
            'Q15_7'  : 'Lifestyle',
            'Q15_8'  : 'Entertainment',
            'Q15_9'  : 'Finance',
            'Q15_10' : 'News',
            'Q15_11' : 'Health & Fitness',
            'Q15_12' : 'Games',
            'Q15_13' : 'Food & Drink',
            'Q15_14' : 'Education',
            'Q15_15' : 'Medical',
            'Q15_16' : 'Social Networking',
            'Q15_17' : 'Reference',
            'Q15_18' : 'Sports',
            'Q15_19' : 'Utilities',
            'Q15_20' : 'Weather',
            'Q15_21' : 'Productivity',
            'Q15_22' : 'Music',
            'Q15_23' : 'Other'
        }

x = df[trend]

cats = df[type_apps]
result = get_trend_w_categorical(x,cats,trend_name,index_q19_map, categories)

plot_heatmap(result,trend_name)

In [14]:
trend = 'Q16'

trend_name = 'Gender'

x = df[trend]

cats = df[type_apps]

result = get_trend_w_categorical(x,cats,trend_name,index_q16_map, categories)

plot_heatmap(result,trend_name)

In [15]:
trend = 'Q26'

trend_name = 'Employement Status'

male_df = df[df['Q16'] == 1]
female_df = df[df['Q16'] == 2]

male_x = male_df[trend]
male_cats = male_df[type_apps]

male_result = get_trend_w_categorical(male_x,male_cats,trend_name,index_q26_map, categories)


female_x = female_df[trend]
female_cats = female_df[type_apps]

female_result = get_trend_w_categorical(female_x,female_cats,trend_name,index_q26_map, categories)

plot_double_heatmap(male_result,female_result,trend_name)

In [16]:
trend = 'Q27'

trend_name = 'Job Type'

x = df[trend]

cats = df[type_apps]

result = get_trend_w_categorical(x,cats,trend_name,index_q27_map, categories)

plot_heatmap(result,trend_name)

In [17]:
trend = 'Q23'

trend_name = 'Education'

x = df[trend]

cats = df[type_apps]

result = get_trend_w_categorical(x,cats,trend_name,index_q23_map, categories)

plot_heatmap(result,trend_name)